/*styles for my resume*/

/*body defaults*/
body{
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 1em;
  color:#444;
  font-weight: 400;
}

#container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/*format for nav bar name*/
.navbar-brand{
  font-family: Georgia;
  font-weight: bold;
}

/*format for nav bar words*/
.nav-item{
  font-family: Georgia;
}

/*section banners*/
.sectionheader{
  font-size: 25px;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 0;
  margin-left: 0;
  width: 1200px%;
  min-width: 300px;
  border: solid blue;
  text-align: center;
  font-family: Georgia;
}

/*job positions*/
.jobtitle{
  font-weight: 600;
  font-size: 1.5em;
  font-family: Georgia;
  color: black;
  text-align: center;
}

/*font size for organizations*/
.organization{
  font-size: 1.25em;
  color: black;
  text-align: center;
}

/*format for dates*/
.date{
  font-style: italic;
  font-size: 1em;
  margin-top: 2px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  color: black;
  font-family: Georgia;
  text-align: center;
}

/*format for paragraphs*/
.description{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  color: black;
  font-family: Georgia;
  text-align: center;
}

/*format for all images*/
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*format for education*/
#degrees{
  margin-top: 5px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  color: black;
  font-family: Georgia;
  font-size: 25px;
}
/*format for skills*/
#do{
  margin-top: 5px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  color: black;
  font-family: Georgia;
  font-size: 25px;
}

/*format for name at top*/
.display-4{
  text-align: center;
  color: blue;
  font-family: Georgia;
  font-weight: bold;
  border
}

/*format for boxes*/
.col-md-4{
  text-align: center;
  border: solid blue;
}

/*format for headings in boxes*/
.col-md-4 h3{
  text-align: center;
  font-family: Georgia;
  color: black;
}

/*format for words in boxes*/
.col-md-4 p{
  text-align: center;
  font-family: Georgia;
  color: black;
}

/*format for jumbotron*/
.jumbotron{
  background-image: url(https://pbs.twimg.com/profile_banners/1195964600/1604272048/1500x500);
  border: solid blue 15px;
}

/*format for job title at top*/
.lead{
  color: #DAF5DD;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  font-family: Britannic;
}
