.headline{
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.byline{
  font-size: 1em;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

p{
  font-family: Georgia, serif;
  line-height: 180%
}
