.navbar{
  background-color: #FF8C00;
}

.headline{
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #00008B;
  color: #FF8C00;
}

.byline{
  font-size: 1em;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.chapter-headline{
  font-size: 2em;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #FF8C00;
  background-color: #00008B
}

p{
  font-family: Georgia, serif;
  line-height: 180%
}

.image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#caption{
  font-size: .80em;
  color: dark gray;
  text-align: center;
}

blockquote{
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

footer{
  background-color: Black;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
