.headline{
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #00008B;
  color: #FF8C00;
}

.byline{
  font-size: 1em;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.chapter-headline{
  font-size: 2em;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #FF8C00;
}

p{
  font-family: Georgia, serif;
  line-height: 180%
}

.image{
  align-items: center;
}

#caption{
  font-size: .80em;
  color: dark gray;
}

iframe{
  align-items: center;
}

footer{
  background-color: Black;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
