/*styles for my resume*/

/*body defaults*/
body{
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 1em;
  color:#444;
  font-weight: 400;
}

/*name on top**/
h1{
  font-size: 3em;
  text-transform:uppercase;
  text-align: center;
  color: #33485e;
}

/*name banner under contact info*/
strong{
  color:#33485e;
  font-size: 1.5em;
  text-transform:uppercase;
}

/*section banners*/
h2{
  font-size: 1.5em;
  text-transform: uppercase;
  background-color:#33485e;
  color: #FFF;
}

/*job positions*/
h3{
  font-weight: 600;
  font-size: 1.5em;
}

/*font size for organizations*/
h4{
  font-size: 1.5em;
}

/*format for dates*/
h5{
  font-style: italic;
  font-size: 1em;
}
