#content {
  margin: 0 auto;
  width: 900px;
}

h1{
  color: Maroon;
  text-align: center;
  font-family: Helvetica, sans-serif;
}

h2{
  font-family: Georgia;
  font-size: 20px;
}
h3{
  font-family: Georgia;
  font-size: 16px;
  font-weight: normal;
}

#byline{
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-style: italic;
}

p{
  font-family: Georgia;
  font-size: 13px;
}

img{
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: inline;
}

#caption{
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  font-style: italic;
}

blockquote{
  font: 16px/24px myriad pro;
  font-style: italic;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px
  color: maroon;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 4px solid #ccc;
}

li{
  font-size: 13px;
  font-weight: 600;
}
